body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  color: var(--primary-text);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #1d9bf0;
  --primary-light: #8ecdf7;
  --primary-text: #0f1419;
  --secondary-text: #536471;
  --border: #cfd9de;
  --background-musica: #121212;
  --divider: rgba(255, 255, 2555, 0.1);
}
